apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      automountServiceAccountToken: false
      containers:
      - image: ghcr.io/yyewolf/portfolio:2.1.1@sha256:8654c4d135363c7342ffac42301d9b3b1a036a63fc3a757305d90cdc3ca86b44
        imagePullPolicy: IfNotPresent
        name: portfolio
        resources:
          requests:
            cpu: 0m
            memory: 0Mi
          limits:
            cpu: 200m
            memory: 200Mi
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 1
          periodSeconds: 1
