apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      automountServiceAccountToken: false
      containers:
      - image: ghcr.io/yyewolf/portfolio:2.1.2@sha256:31badf0ad25dc44ddaabfaf3840e7373f361fc5d05c34d06a76f72cd0588e6f5
        imagePullPolicy: IfNotPresent
        name: portfolio
        resources:
          requests:
            cpu: 0m
            memory: 0Mi
          limits:
            cpu: 200m
            memory: 200Mi
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 1
          periodSeconds: 1
