apiVersion: apps/v1
kind: Deployment
metadata:
  name: caddy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: caddy
  template:
    metadata:
      labels:
        app: caddy
    spec:
      containers:
        - name: caddy
          image: mirror.gcr.io/caddy@sha256:f20f80e1fb627294fb84b8515b7593aff8018c840f1396dc942a50ed0c2db648
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config
              mountPath: /etc/caddy/Caddyfile
              subPath: Caddyfile
            - name: html
              mountPath: /srv/index.html
              subPath: index.html
          resources:
            requests:
              cpu: "0"
              memory: "0Mi"
            limits:
              memory: "300Mi"
              cpu: "300m"
      volumes:
        - name: config
          configMap:
            name: caddy-config
        - name: html
          configMap:
            name: caddy-config
