apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpmyadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phpmyadmin
  template:
    metadata:
      labels:
        app: phpmyadmin
    spec:
      containers:
      - name: phpmyadmin
        image: mirror.gcr.io/phpmyadmin:5@sha256:ce66eefd046088d7a7cc7f2595da08e2896e099b6613e5008e04243fcefc31f6
        ports:
        - containerPort: 80
        env:
        - name: PMA_ABSOLUTE_URI
          value: https://keda-phpmyadmin-ingress.tail5ec535.ts.net
        - name: PMA_HOST
          value: mariadb   # service name of your MariaDB instance
