---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esphome-config
  annotations:
    k8up.io/backup: "true"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path-home1-retain
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: esphome
  labels:
    app: esphome
spec:
  serviceName: esphome
  replicas: 1
  podManagementPolicy: OrderedReady
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: esphome
  template:
    metadata:
      labels:
        app: esphome
    spec:
      tolerations:
        - key: PrivateNode
          operator: Equal
          value: home1
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: esphome
          image: ghcr.io/esphome/esphome:latest@sha256:c9583f3073d3708c0eb4f602aa0fbaa5a8caf32d313d0558728eb3b75f840304
          securityContext:
            privileged: true
          env:
            - name: USERNAME
              value: "admin"
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: esphome-admin-password
                  key: password
          volumeMounts:
            - name: config
              mountPath: /config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: esphome-config
---
apiVersion: v1
kind: Service
metadata:
  name: esphome
spec:
  selector:
    app: esphome
  ports:
    - protocol: TCP
      port: 6052
      targetPort: 6052
  type: ClusterIP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: esphome
spec:
  parentRefs:
  - name: kgateway
    namespace: kgateway
    sectionName: https
  hostnames:
  - "esphome.yewolf.fr"
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: esphome
      port: 6052
      weight: 1
    matches:
    - path:
        type: PathPrefix
        value: /
