apiVersion: apps/v1
kind: Deployment
metadata:
  name: joplin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: joplin
  template:
    metadata:
      labels:
        app: joplin
    spec:
      automountServiceAccountToken: false
      containers:
        - image: mirror.gcr.io/joplin/server:latest@sha256:5d9e7f9d31b436cb1b99d1a6a65d8c5bf760829094617e8ad1e956fd925de888
          imagePullPolicy: IfNotPresent
          name: joplin
          envFrom:
            - secretRef:
                name: joplin-secret
          resources:
            requests:
              cpu: 0m
              memory: 0Mi
            limits:
              cpu: 200m
              memory: 600Mi
